<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>
<body>
  <!-- <div id="navbar" ng-controller="ActiveClassCtrl">
    <div id="navwrapper">
      <ul>
        <li ng-class="{active: isActive('/about')}"><a ui-sref="about"> About Us </a></li>
        <li ng-class="{active: isActive('/')}"><a ui-sref="main"><strong> Rent Req </strong></a></li>
        <li ng-class="{active: isActive('/ContactUs')}"><a ui-sref="contact"> Contact Us </a></li>
      </ul>
    </div>
  </div> -->

  <h1>About Us Page</h1>

</body>
</html>