<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <title>ReqRent Personal Project</title>
  <script src='https://platform.venmo.com/sdk.js'></script>
</head>
<body>
  <div id="navbar">
    <div id="navwrapper">
      <ul>
        <li><a href="">About Us</a></li>
        <li><a href="" id=>ReqRent</a></li>
        <li><a href="">Contact Us</a></li>
        </li>
      </ul>
    </div>
  </div>

  <div id="banner">
    <!-- backgorund image here -->
      <h1 id="banner-head"> Req Rent</h1>
  </div>

  <div id="blackbar">
  </div>

  <div id="container">
    <form name="InvoiceForm" id="InvoiceForm" ng-controller="InvoiceCtrl" novalidate>

      <select id="selector" ng-model="people" ng-options="persons for persons in [2,3,4,5,6]" title="Persons" id="numOfPeople" > 
        <option value> Num of Peeps </option>
      <select>

      <input autofocus id="text" ng-model="bill.title" type="text" name="text" placeholder="Base Rent, Gas, Electric, Groceries, etc..." required/>

      <i class="fa fa-usd"></i>
      <input ng-model="bill.price" id="totalBill" type="number" value="0.00" placeholder="Total Bill" required/>
      
      <button ng-click="InvoiceForm.$valid && addBill()"> Submit </button> 
      <div>{{InvoiceForm.$valid}}</div>

      <div id="prevField">
        <div id="prevTitle">
          {{bill.title}}
        </div>   
        <div id="prevPrice">
          {{bill.price | currency}}
        </div>
      </div>

      <div id="submittedInvoice">
        <li ng-repeat="invoice in invoiceList">
          <div id="subTitle">
            {{invoice.title}}
          </div>
          <div id="subPrice">
            {{invoice.price | currency}}
          </div>
        </li>
      </div>
    </form>
  </div>
  <footer>
      <div id="footerContainer">
        <p>&#169; Brian Son 2014</p>
      </div>
  </footer>
</body>
</html>
