<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <title>RentReq Personal Project</title>
  <script src='https://platform.venmo.com/sdk.js'></script>
</head>
<body>
  <div id="navbar">
    <div id="navwrapper">
      <ul>
        <li><a ui-sref="about"> About Us </a></li>
        <li><a ui-sref="main"><strong> Rent Req </strong></a></li>
        <li><a ui-sref="contact"> Contact Us </a></li>
      </ul>
    </div>
  </div>

<!-- banner code starts here -->
  <div id="banner">
    <!-- backgorund image here -->
    <div id="banner-wrapper">
      <h1 id="banner-head"> Rent Req </h1>
    </div>
  </div>

  <div id="blackbar">
  </div>

<!-- container holds the invoice content -->
  <div id="container" ng-controller="InvoiceCtrl">
    <!-- everything under the form uses the InvoiceCtrl -->
    <form name="InvoiceForm" id="InvoiceForm" novalidate>  

      <div id="print-page">
        <div id="TotalBill">
          <h3> Total Bill: {{total | currency}}</h3>
        </div>
        
        <div id="selectorBlock">
          <!-- ng-options allows me to add multiple options for the selector by giving it an array of options -->
          <h3 id="numPeople"> Number of People: </h3>
          <select id="selector" ng-model="people" ng-options="persons for persons in peoples" title="Persons" id="numOfPeople" >    
          </select> 
        </div>

        <div id="youOwe">
          <h1> You Owe: {{total/people | currency}}<h1>
        </div>  

        <hr>

<!-- On page load autofocus is focus on this input.  ng-model lets me bind my data for the preview fields and submitted fields -->
        <input autofocus id="text" ng-model="bill.title" type="text" name="text" placeholder="Base Rent, Gas, Electric, Groceries, etc..." required/>

        <span> <i class="fa fa-usd"></i> </span>
        <input ng-model="bill.price" id="billAmount" type="number" value="0.00" placeholder="Bill Amount" required/>
      <!-- on click check if the ng-click is true so make sure the input fields are valid and add the addBill function from InvoiceCtrl -->

        <button ng-click="InvoiceForm.$valid && addBill()"> Submit </button> 

      <!-- <div>{{InvoiceForm.$valid}}</div> -->  <!-- for debugging --> 
<!-- Preview for Debugging and Live Updating -->
<!--         <div id="prevField">   
          <div id="prevTitle">
            {{bill.title}}
          </div>   
          <div id="prevPrice">
            {{bill.price | currency}}
          </div>
        </div> -->

        <div id="submittedInvoice">
          <li ng-repeat="invoice in invoiceList">
            <div id="subTitle">
              {{invoice.title}}
            </div>
            <div id="subPrice">
              {{invoice.price | currency}}
            </div>
          </li>
        </div>
      </div>
    </form>
  </div>
  <footer>
    <div id="footerContainer">
      <p>&#169; Brian Son 2014</p>
      <!-- <article>
        Thanks for using Rent Req!
        <br /> Visit us again at www.RentReq.com
        <br /> &#169; Brian Son 2014
      </article> -->
    </div>
  </footer>

  <div id="printFooter">
    <article>
        Thanks for using Rent Req!
        <br /> Visitagain at www.RentReq.com
        <br /> &#169; Brian Son 2014
    </article>
  </div>

</body>
</html>
